* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f9fbff;
  color: #333;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #e0f2fe, #fef9c3);
}

.avatar {
  width: 140px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 2.6rem;
  color: #0f172a;
}

.subtitle {
  color: #475569;
  margin: 15px 0 25px;
}

.btn {
  background: #38bdf8;
  color: white;
  padding: 12px 28px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
}

/* SECTIONS */
section {
  padding: 70px 15%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0f172a;
  border-left: 5px solid #38bdf8;
  padding-left: 10px;
}

/* ABOUT */
.about p {
  max-width: 700px;
  line-height: 1.8;
  color: #475569;
}

/* SKILLS */
.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills-box span {
  background: white;
  padding: 10px 18px;
  border-radius: 20px;
  border: 1px solid #38bdf8;
  color: #0f172a;
  font-weight: 500;
}

/* PROJECTS */
.projects {
  background: #f1f5f9;
}

.project-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
  display: inline-block;
  margin: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* RESUME */
.resume {
  text-align: center;
}

/* CONTACT */
.contact p {
  margin-top: 8px;
  color: #475569;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  background: #e0f2fe;
  color: #334155;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  section {
    padding: 60px 8%;
  }
}